



body {
    background-color: white;
}


h1{
	font-family: helvetica neue, sans-serif;
	font-size: 3.2em;
	color: white;
	font-weight: 200;
}

h2{
	font-family: helvetica neue, sans-serif;
	font-size: 1.4em;
	color:white;
	letter-spacing: .06em;
}

h4{
	font-family: helvetica neue, sans-serif;
	font-size: 1em;
	color:white;
	font-weight: 200;
	letter-spacing: .1em;
}

h5{
	font-family: helvetica neue, sans-serif;
	font-size: .7em;
	color:#838994;
	font-weight: 200;
	letter-spacing: .1em;
	text-decoration: none;
}

body{
	margin:0;
	margin:auto;
	background-color: white;
}

head{
	margin:0;
	padding:0;
	border:0;
}

a{
	color:black;
}

.top-nav{
	margin:0;
}

.navigation{
max-height: 4.375rem;
width:100%;
background-color: white;
position:fixed;
margin:0;
padding:0;
border:0;
display:block;
}

.navigation img{
float:left;
padding:1em;
}

.content{
	width:736px;
	height:70px;
	margin:auto;
}

.content ul{	
	float:right;
}

.content ul li{
	display:inline-block;
	margin:1em;
	font-family: Helvetica;
	color:#838994;
	font-weight:200;
}

.content ul li:hover {
	cursor:pointer;
	color:#333333;
	font-weight:500;
}

.hero {
	clear:both;
	background-image: url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
    background-position: center bottom;
    background-position-x: 50%;
    background-position-y: 100%;
    background-position: center bottom;
    background-size: cover;
  	height: 41rem;
    overflow: auto;
  	margin: 0em;
  	padding-top: 4.375rem;
  	background-repeat: no-repeat;
}
.hero-copy-block{
	margin:auto;
	padding-top:170px;
	width:40em;
}

.intro {
	text-align: center;
	font-weight: 100;
}

.tagline {
	text-align:center;
	margin-bottom:1em;
	font-weight: 200;
}

.learn-more-btn {
	z-index:9998;
	background-color: #F15A29;
	border:none;
	text-decoration: none;
	text-align:center;
	margin:auto;
	padding:1em .5em;
	border-radius: 2px;
	max-width:120px;
}

.learn-more-btn:hover{
	background-color: #AF4524;
}
.cases {
	width:60%;
	background-color: white;
	padding-top:2em;
	padding-bottom:2em;
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
}

.cases h1{
	text-align:center;
	color:black;
	padding:1em;
	font-weight: 150;
}

.cases h2{
	color:black;
	font-weight:400;
}

.devices {
	float:left;
	display: inline-block;
    width: 33%;
    text-align:center;
    background-color: white
    letter-spacing:.03em;
    margin-bottom:4em;

}

footer{
	clear:both;
	text-decoration: none;
	margin-top:3em;
	text-align:center;
	padding:3em;
}



footer ul li{
	display:inline-block;
	width:2.5rem;
	height:2.5rem;
	margin:1.25rem 1.25rem;
	border-radius:1.25rem;
	border: 1px solid #eaebec; 
}

footer h4{
	color:black;
	font-weight:300;
	margin-bottom:.5em;
	text-align:center;
}

footer h5{text-align:center;}


